mcp
pandas
pyarrow
scikit-learn
scipy
joblib
numpy
psycopg2-binary
sqlalchemy
requests
langchain
streamlit
langchain-groq
langgraph
langchain-mcp-adapters
python-dotenv
mcp-use
pypandoc
spacy
sentence-transformers
langdetect
deep-translator
nest-asyncio